{{ partial "header.html" . }}

<section id="main">
  <h1>{{ .Title }}</h1>

  <div class="event container"
       itemscope itemtype="http://schema.org/EducationEvent">

    <meta itemprop="name" content="{{ .Title }}"/>
    <meta itemprop="url" content="{{ .Permalink }}"/>

    <div class="row">
      <div class="col-md-8">
        <div class="header">
          <div class="speaker" itemprop="performer">{{ .Params.speaker }}</div>
          <time itemprop="startDate">
            {{ .Date.Format "Mon, Jan 2, 2006 @ 3:04" }}
          </time>
          <div class="location" itemprop="location">{{ .Params.location }}</div>
        </div>

        <div class="content" itemprop="description">
          {{ .Content }}
        </div>
      </div>

      <div class="col-md-4">
        {{ with .Params.map }}
          {{ partial "map" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
