
  <footer>
    <div class="copyright">
      &copy;

      {{ if isset .Params "author" }}
        {{ .Date.Format "2006" }} {{ .Params.author }}
      {{ else }}
        {{ .Site.LastChange.Format "2006" }} {{ .Site.Params.author }}
      {{ end }}
    </div>
  </footer>


  <!-- Bootstrap -->
  <script src="{{ .Site.BaseUrl }}/js/jquery-1.11.1.min.js"></script>
  <script src="{{ .Site.BaseUrl }}/js/bootstrap-3.1.1.min.js"></script>

  <script>
$('.navbar').find('a[href="{{ .Site.BaseUrl }}' + location.pathname + '"]').parents('li').addClass('active');
  </script>
  </body>
</html>
