{{ partial "header.html" . }}

<div class="container" role="main">
  <div class="jumbotron" id="main-title">
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.tagline }}</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8 recent-posts">
      <h2>Recent posts</h2>

      {{ range $index, $post := first 5 (where .Data.Pages "Section" "post") }}
        <hr/>
        {{ if eq $index 0 }}
          {{ $post.Render "full" }}
        {{ else }}
          {{ $post.Render "summary" }}
        {{ end }}
      {{ end }}
    </div>

    <div class="col-md-4">
      {{ partial "upcoming-events" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
